* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100%;
}

.hero-container {
  background-image: url('https://github.com/Sai630414/gpa-calculator/blob/main/bacckground%20image.jpg?raw=true'); /* Replace with your image path */
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6); /* dark transparent overlay */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.overlay h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 30px;
}

.button-group {
  display: flex;
  gap: 20px;
}

.hero-button {
  padding: 15px 30px;
  background: linear-gradient(to right,  #14213d,#e5e5e5);
  color: #fca311;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
}

.hero-button:hover {
  background-color: #0097a7;
  transform: scale(1.05);
}
